-if @track.errors.any?
  .alert.alert-error.alert-block
    %h4= "#{pluralize(@track.errors.count, "error")} prohibited this track from being saved:"
    %ul
      -@track.errors.full_messages.each do |msg|
        %li= msg


= form_for @track, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :name, :class => 'col-lg-2 control-label'
    .col-lg-10
      = f.text_field :name, :class => 'text_field form-control'
  .form-group
    = f.label :description, :class => 'col-lg-2 control-label'
    .col-lg-10
      = f.text_area :description, :class => 'text_area form-control'
  .form-group
    = f.label :vehicle, :class => 'col-lg-2 control-label'
    .col-lg-10
      = f.select :vehicle_id, current_user.vehicles.map {|vehicle| [vehicle.name, vehicle.id]},{}, :class => 'form-control'
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit "Update Track", :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), tracks_path, :class => 'btn btn-warning'
