.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th= Track.human_attribute_name(:name)
        %th= "Vehicle"
        %th= Track.human_attribute_name(:description)
        %th= Track.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - tracks.each do |track|
        %tr
          %td= check_box_tag "track_ids[]",track.id,{}
          %td= link_to track.name, track_path(track)
          %td= track.vehicle ? track.vehicle.name : ""
          %td= truncate track.description, :length => 40
          %td=l track.created_at, :format => :short
          %td
            = link_to edit_track_path(track), :class => 'btn btn-primary btn-xs' do
              %span.glyphicon.glyphicon-pencil
              Edit
            = link_to track_path(track), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-xs' do
              %span.glyphicon.glyphicon-trash
              Delete