.row
  .col-md-12
    - model_class = Track
    .page-header
      %h2
        =@track.name ? @track.name : "Untitled Track"
        %small
          =l @track.created_at, :format => :short
          =link_to "Edit", edit_track_path, :method => :get, :class => "btn btn-primary btn-xs"


    .row
      .col-md-8
        #map

      .col-md-4
        #detail_group
          .panel.panel-primary
            .panel-heading
              %strong
                Description
            .panel-body
              =@track.description

          .panel.panel-primary
            .panel-heading
              %strong
                Distance
            .panel-body
              =number_with_precision @track.distance
              km

          .panel.panel-primary
            .panel-heading
              %strong
                Average-Speed
            .panel-body
              =@track.speed
              km/h

          -#
            .panel.panel-primary
              .panel-heading
                %strong#details-header.panel-toggle.icon-chevron-up{"data-toggle" => "collapse", "data-target" => "#details"}
                  Details
              #details.panel-body.collapse.in
                .panel-inner
                  -@track.positions.each_with_index do |pos,i|
                    %dl
                      %dt= l pos.time,:format => :short
                      %dd
                        %dl
                          %dt= "Coordinates"
                          %dd= "Longitude: #{pos.longitude}, Latitude: #{pos.latitude}"
                          %dt= "Speed"
                          %dd= "#{pos.speed}km/h"
                          %dt= "Height"
                          %dd= "#{pos.height}m"


    =javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false"

    %script
      $(document).ready(function() {
      var list= [];
      -@track.positions.each do |pos|
        ="list.push({lat:#{pos.latitude},lon:#{pos.longitude},id:#{pos.id},speed:#{pos.speed},height:#{pos.height},time:'#{l pos.time,:format => :short}'});"
      draw_map();
      draw_track(list);
      });