-if @user.errors.any?
  .alert.alert-error.alert-block
    %h4= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
    %ul
      -@user.errors.full_messages.each do |msg|
        %li= msg


= form_for @user, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :email, :class => 'col-lg-2 control-label'
    .col-lg-10
      = f.text_field :email, :class => 'text_field form-control'
  .form-group
    = f.label :password, :class => 'col-lg-2 control-label'
    .col-lg-10
      = f.password_field :password, :class => 'password-field form-control'
  .form-group
    = f.label :password_confirmation, :class => 'col-lg-2 control-label'
    .col-lg-10
      = f.password_field :password_confirmation, :class => 'password-field form-control'
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to "Cancel", root_url, :class => 'btn btn-warning'
